/* html, body {height: 100%;}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10;
  color: #FFE37B;
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */


ul {
	list-style: none;
}

/* --------------------------------Frist Look------------------------------ */
.main-background{
    background-image: url("./img/bg3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
    opacity: .7;
    height: 100vh;
}

.info{
    width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	transform: translate(0%, -50%);
    padding: 0 15px;
    
}

.info h1{
    color:#060606;
	margin: 0;
	font-size: 60px;
	font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
}

.info h1 span{
    color: #060606;
}

.info p{
    padding-top: 25px;
	padding-bottom: 25px;
	font-weight: 300;
}


.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 30%;
	margin: 0 auto;
}

.social {
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 34px;
	/* transform: rotate(45deg); */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease;
}

.social:hover {
	background-color: #94aeab;
	cursor: pointer;
}
.fa {
	color: #fff;
	font-size: 20px;
	/* transform: rotate(-45deg); */
}

/* ---------------------------Navigation Bar------------------------------- */
nav{
    text-transform: uppercase;
    /* background-color:	#ededed; */
    /* border-bottom: 1px solid rgb(84, 84, 88);  */
}
nav a{
    color:#060606;
    transition: all .5s ease;
}

nav li{
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    transition: all .5s ease;
}

nav a:hover {
	color: #94aeab;
	cursor: pointer;
}

.sticky{
    position: fixed;;
    top: 0;
    width:100%;
    z-index: 100;
}


/* -------------------------------About me--------------------------------- */

.title{
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    margin:10px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;

}
 .side-margin{

     margin-bottom: 10%;
 }

.headshot img{
    width: 90%;
    height: 50%;
    border-radius: 125px;
   /* margin: 10%; */
   /* margin-left:10%; */
   /* margin-bottom: 20%; */
}
.row{
    margin-right: 0em;
}

.paragraph {
    margin-top: 2%;;
    margin-bottom:5%
}

.paragraph h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.paragraph p{
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .75px;
    font-size: 15px;
}

.btn{
    border: 0;
	border-bottom: 3px solid;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 28px;
}
.btn-lg {
	padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-info {
	background-color: #2ba7d8;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover {
	background-color: #377a94;
	border-color: #4aa0c2;
}

.btn-primary {
	background-color: #1aa574;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover {
	background-color: #3c9174;
	border-color: #4eb28f;
}

.btn:focus, .btn:active {
	outline: 0;
	box-shadow: none;
}


/* -----------------------Journey--------------------------- */


.col-md-12{
    padding:0;
}

.row {
    margin-bottom: 60px;
    margin:5%;
}


.resume-section-title {
	text-align: center;
	margin-bottom: 30px;
}

.resume-section {
	position: relative;
}

.dot-timeline {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: gray;
    margin: 0 auto;
    border-radius: 5px;
}

.timeline-line {
	width: 3px;
	height: 100%;
	background-color: gray;
	position: absolute;
    left: calc(50% - 1.5px);
    top: 0;
    z-index: -1;
}

.posted-date {
	background-color: white;
	z-index: 2;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	position: absolute;
    left: calc(50% - 50px);
    top: calc(30% - 10px);
}

.posted-date span {
	font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    
}

.timeline-panel {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}


.timeline-arrow {
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	border-top: 5px solid #eee;
	border-right: 5px solid #eee;
	position: absolute;
	right: -14.14px;
	top: 22%;
	background-color: #eee;
	transition: all .5s ease;
}

.rotated {
	transform: rotate(225deg);
	left: -14.14px;

}

.timeline-content {
	border: 5px solid #eee;
	padding: 24px;
	width: 43%;
	position: relative;
	background-color: #eee;
	border-radius: 10px;
    transition: all .5s ease;
    text-align: center;
}

.timeline-content:hover, .timeline-content:hover .timeline-arrow {
	background-color: #94aeab;
	border-color: #94aeab;
}

.timeline-content:hover a {
	color: #eee;
	transition: all .5s ease;
}

.timeline-heading h3 {
	font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.timeline-heading span {
	display: block;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 14px;
}

.timeline-heading a {
	text-decoration: none;
}

.timeline-body p {
	margin: 0 0 10px;
	line-height: 28px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .75px;
}

.timeline {
	padding-left: 0;
}

.inverted {
	right: 0;
	align-self: flex-end;
}


