/* html, body {height: 100%;}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10;
  color: #FFE37B;
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */
body{
	background-color:#e7e7e7
	;
}

ul {
	list-style: none;
}

/* --------------------------------Frist Look------------------------------ */
.main-background{
    background-image: url("./img/bg3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
    opacity: .7;
    height: 100vh;
}

.info{
    width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	transform: translate(0%, -50%);
    padding: 0 15px;
    
}

.info h1{
    color:#060606;
	margin: 0;
	font-size: 60px;
	font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
}

.info h1 span{
    color: #060606;
}

.info p{
    padding-top: 25px;
	padding-bottom: 25px;
	font-weight: 300;
}


.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 30%;
	margin: 0 auto;
}

.social {
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 34px;
	/* transform: rotate(45deg); */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease;
}

.social:hover {
	background-color: #94aeab;
	cursor: pointer;
}
.fa {
	color: #fff;
	font-size: 20px;
	/* transform: rotate(-45deg); */
}

/* ---------------------------Navigation Bar------------------------------- */
nav{
    text-transform: uppercase;
    background-color:#e7e7e7;
    /* border-bottom: 1px solid rgb(84, 84, 88);  */
}
nav a{
    color:#060606;
    transition: all .5s ease;
}

nav li{
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    transition: all .5s ease;
}

nav a:hover {
	color: #94aeab;
	cursor: pointer;
}

.sticky{
    position: fixed;;
    top: 0;
    width:100%;
    z-index: 100;
}


/* -------------------------------About me--------------------------------- */

.title{
    text-align: center;
    padding-top: 90px;
    text-transform: uppercase;
    margin:10px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;

}
 .side-margin{

     margin-bottom: 10%;
 }

.headshot img{
    width: 90%;
    height: 50%;
    border-radius: 125px;
   /* margin: 10%; */
   /* margin-left:10%; */
   /* margin-bottom: 20%; */
}
.side-margin .row{
    margin-bottom: 60px;
	margin-left:5%;
	margin-right: 5%;
	margin-top: 2%;
}

.paragraph {
    margin-top: 2%;;
    margin-bottom:5%
}

.paragraph h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.paragraph p{
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .75px;
    font-size: 15px;
}

.btn{
    border: 0;
	border-bottom: 3px solid;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 28px;
}
.btn-lg {
	padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-info {
	background-color: #2ba7d8;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover {
	background-color: #377a94;
	border-color: #4aa0c2;
}

.btn-primary {
	background-color: #1aa574;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover {
	background-color: #3c9174;
	border-color: #4eb28f;
}

.btn:focus, .btn:active {
	outline: 0;
	box-shadow: none;
}


/* -----------------------Journey--------------------------- */


.col-md-12{
    padding:0;
}


#journey .row {
    margin-bottom: 60px;
	margin-left:5%;
	margin-right: 5%;
	margin-top: 3%;
}


.resume-section-title {
	text-align: center;
	margin-bottom: 30px;
}

.resume-section {
	position: relative;
}

.dot-timeline {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: gray;
    margin: 0 auto;
    border-radius: 5px;
}

.timeline-line {
	width: 3px;
	height: 100%;
	background-color: gray;
	position: absolute;
    left: calc(50% - 1.5px);
    top: 0;
    z-index: -1;
}

.posted-date {
	background-color: #e7e7e7;
	z-index: 2;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	position: absolute;
    left: calc(50% - 50px);
    top: calc(30% - 10px);
}

.posted-date span {
	font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    
}

.timeline-panel {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}


.timeline-arrow {
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	border-top: 5px solid #c8c8c8;
	border-right: 5px solid #c8c8c8;
	position: absolute;
	right: -14.14px;
	top: 22%;
	background-color: #d2d2d2;
	transition: all .5s ease;
}

.rotated {
	transform: rotate(225deg);
	left: -14.14px;

}

.timeline-content {
	border: 5px solid #c8c8c8;
	padding: 24px;
	width: 43%;
	position: relative;
	background-color: #d2d2d2;
	border-radius: 10px;
    transition: all .5s ease;
    text-align: center;
}

.timeline-content:hover, .timeline-content:hover .timeline-arrow {
	background-color: #94aeab;
	border-color: #94aeab;
}

.timeline-content:hover a {
	color: #eee !important;
	transition: all .5s ease;
}


#journey a{
	color:#6e918d;
}

.timeline-heading h3 {
	font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.timeline-heading span {
	display: block;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 14px;
}

.timeline-heading a {
	text-decoration: none;
}

.timeline-body p {
	margin: 0 0 10px;
	line-height: 28px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .75px;
}

.timeline {
	padding-left: 0;
}

.inverted {
	right: 0;
	align-self: flex-end;
}


/* ---------------------------Skills------------------------- */

.b-skills
{

	text-align: center;
}
/* .b-skills .container{
	margin-left:7%;
} */
.b-skills:last-child { margin-bottom: -30px; }

.b-skills h2 { margin-bottom: 50px; font-weight: 900; text-transform: uppercase;}

.skill-item
{
	position: relative;
	max-width: 150px;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 15%;
	color: #555;
}

.chart-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-bottom: 27px;
}

#skills .row {
    margin-bottom: 60px;
	margin-left:5%;
	margin-right: 5%;
	margin-top: 8%;
}

.skill-item .chart,
.skill-item .chart canvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.skill-item .chart:before
{
	content: "";
	width: 0;
	height: 100%;
}

.skill-item .chart:before,
.skill-item .percent
{
	display: inline-block;
	vertical-align: middle;
}

.skill-item .percent
{
	position: relative;
	line-height: 1;
	font-size: 40px;
	font-weight: 900;
	z-index: 2;
}

.skill-item  .percent:after
{
	content: attr(data-after);
	font-size: 20px;
}
       
       p{
           font-weight: 900;
       }
 

/* ---------------------------Projects------------------------- */

#projects .container {
	min-height: 667px;
}


#filter {
	list-style: none;
	text-align: center;
	margin: 0, 0, 35px;
}

#filter li {
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

#filter li a {
	text-transform: uppercase;
	color: #587471;
	font-weight: 300;

}

#filter li.active-filter {
	background-color: #94aeab;
	border-radius: 5px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

#filter li.active-filter a {
	color:  #fff;
}

.active-filter-hover {
	background-color: #94aeab;
	border-radius: 5px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
	color: #fff;
}

#filter li.active-filter-hover a {
	color: #fff;
}

#filter .diamond-timeline {
	position: absolute;
	background-color: #587471;
	bottom: -6px;
	left: calc(50% - 5px);
}

.hidden {
	display: none;
}

.project {
	height: 200px;
	width: 251.13px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 36px;
}

.project-image {
	height: 100%;
}


.project-overlay {
	display: block;
	position: absolute;
	background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 400ms;
}

.project-links {
	width: 90px;
    height: 40px;
    position: absolute;
    top: calc(40% - 20px);
    left: calc(50% - 30px);
    opacity: 0;
    transition: all 400ms;
}

.project-links .social {
	border: 2px solid #e7e7e7;
}

.project-links .fa {
	color:#e7e7e7;
}

.project-links .social:hover .fa{
	color: #fff;
	transition: all .5s ease;
}

.project-info {
	position: absolute;
    bottom: -10%;
    left: 0;
    background-color: #94aeab;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 400ms;
}

.project-info h5 {
	font-size: 15px;
	line-height: 40px;
	text-transform: uppercase;
}

.project:hover .project-overlay {
	opacity: .75;
}

.project:hover .project-links {
	top: 40%;
	opacity: 1;
}

.project:hover .project-info {
	bottom: 0;
	opacity: 1;
}

